<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h2>
        <%= city%>
    </h2>

    <h4>
        Температура: <%= weather_data.temp %> градуса(ов) по цельсию
    </h4>
    <br>
    <h4>
        Температура ощущается как: <%= weather_data.feels_like %> градуса(ов) по цельсию
    </h4>
    <br>
    <h4>
        Давление: <%= (weather_data.pressure * 0.75006375541921).toFixed(2)%> мм. ртутного столба
    </h4>
</main>

</body>
</html>